<div class="full background">
    <div class="row">
        <div class="head-title col-md-3 col-xs-12 card cardSansBorder" style="float:none; margin:auto;">
            <div class="card-body">
            <h2 class="card-title ">Créer un compte</h2>
            <div class="card-text head-title-inscription "> <!--col-sm-8 col-sm-offset-2-->
                <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" class="form-control" formControlName="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" id="password" class="form-control" formControlName="password">
                    </div>
                    <button class="btn mx-auto d-block btn-sign" type="submit" [disabled]="signUpForm.invalid">Valider</button>
                </form>
            </div>
            <p class="text-danger">{{ errorMessage }}</p> 
            </div>
        </div>
    </div>
</div>


<!--
<div class="row">
    <div class="head-title col-sm-8 col-sm-offset-2">
        <h2>Créer un compte</h2>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" class="form-control" formControlName="password">
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="signUpForm.invalid">Valider</button>
        </form>
        <p class="text-danger">{{ errorMessage }}</p>
    </div>    
</div>
</div>-->
