<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="assets/img/partenaires1.jpg" class ="partenaires" alt="partenaires"><img src="assets/img/partenaires2.jpg" class ="partenaires sup-img" alt="partenaires">
                <p class="linkfooter">© Copyright <a href="http://lncommunication.fr/" target="_blank">LN communication</a> - 2020 // Graphisme & Webdesign // Région PACA 06 // <a href="http://lncommunication.fr/contact" target="_blank">Contact</a></p>
            </div>
        </div>
    </div>
</footer>
