<div class="full background">
    <div class="row">
        <div class="head-title col-md-3 col-xs-12 card cardSansBorder" style="float:none; margin:auto;">
            <div class="card-body">
              <h2 class="card-title ">Connexion</h2>
              <div class="card-text head-title-inscription "> <!--col-sm-8 col-sm-offset-2-->
                <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" class="form-control" formControlName="email" style="background-color: white">
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" id="password" class="form-control input-marathon" formControlName="password">
                    </div>
                    <button class="btn mx-auto d-block btn-sign " type="submit" [disabled]="signInForm.invalid">Valider</button>
                </form>
              </div>
              <p class="text-danger">{{ errorMessage }}</p> 
            </div>
        </div>
    </div>
</div>