<div class="background2">
  <div class="row">
    <div class="col-xs-12 fullwidth">
      <div class="text-white cartouche-frise">
        <img class="img-fluid" src="assets/img/frise-marathon2.jpg" alt="kilometrage">
      </div>
    </div>
  </div>

  <div class="container"> <!--class="full background2"-->
    <div class="row">
      <div class="col-xs-12 marginTop">
          <h3 style="color: #f2e738; text-align: center;     font-weight: 100;
          letter-spacing: 0.5rem; text-transform: uppercase; margin-bottom: 3%;">[ Les distances ]</h3>
          <div class="card-deck">
            <div class="col-md-4 col-xs-12 card">
              <img class="card-img-top" src="assets/img/img-dis1.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title card-title-vert">10 km</h4>
                <p class="card-text">Venez courir sur la première partie du parcours du Marathon des Alpes-Maritimes Nice-Cannes : le 10 km Nice-Cagnes-sur-mer ! Prenez le départ du Marathon des Alpes-Maritimes Nice-Cannes aux côtés des marathoniens sur la chaussée sud, juste derrière les coureurs élites et les préférentiels à partir du Sas 3h15.<br>
                Terminez votre épreuve sur le vieux port avec les montagnes enneigées en fond de carte postale, époustouflant pour les yeux !</p>
                <p><a href="runners/new" class="btn btn-default mx-auto d-block btn-dist" role="button">S'inscrire au 10 km</a></p>
              </div>
            </div>
                
            <div class="col-md-4 col-xs-12 card">
              <img class="card-img-top" src="assets/img/img-dis2.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title card-title-vert">2x21.1 km</h4>
                <p class="card-text">Le Marathon des Alpes-Maritimes Nice-Cannes offre la possibilité en binôme de parcourir la distance mythique d’un marathon à 2 !<br>
                42,195 km de pur bonheur, avec un départ mythique sur la Promenade des Anglais à Nice et une arrivée exceptionnelle sur le boulevard de la Croisette à Cannes.<br>
                Rejoignez-nous sur le Marathon des Alpes-Maritimes Nice-Cannes !</p>
                <p><a href="runners/new" class="btn btn-default mx-auto d-block btn-dist" role="button">S'inscrire au 2x21.1 km</a></p>
              </div>
            </div>

            <div class="col-md-4 col-xs-12 card">
              <img class="card-img-top" src="assets/img/img-dis3.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title card-title-vert">Distance Marathon</h4>
                <p class="card-text">Le Marathon des Alpes-Maritimes Nice-Cannes fait parti aujourd'hui des plus grands marathons français, caractérisé par son parcours incroyable entre mer et palmiers<!-- et par l'importance de son peloton-->.<br>
                <!--Avec plus de 60 nations représentées et plus de 13 000 coureurs sur l'ensemble des distances proposées, le Marathon des Alpes-Maritimes Nice-Cannes a su séduire par la beauté de ses paysages et son climat doux et tempéré ses milliers de concurrents venus des quatre coins du monde.<br>
                Comme eux, venez profiter le temps d'un week-end touristique et sportif, de la mer, des palmiers et de l'été indien sur la Riviera !<br>-->
                42,195 km de pur bonheur, avec un départ mythique sur la Promenade des Anglais à Nice et une arrivée exceptionnelle sur le boulevard de la Croisette à Cannes.<br>
                Rejoignez-nous sur le Marathon des Alpes-Maritimes Nice-Cannes !</p>
                <p><a href="runners/new" class="btn btn-default mx-auto d-block btn-dist" role="button">S'inscrire au 42.195 km</a></p> 
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<app-footer></app-footer>